.homepage_container {
  max-width: 1280px;

  .hero {
    margin-top: 1rem;
    width: 100%;
    height: 20vh;
    background: url(https://image.tmdb.org/t/p/original/6MKr3KgOLmzOP6MSuZERO41Lpkt.jpg)
      no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1.5rem;
    -webkit-border-radius: 1.5rem;
    -moz-border-radius: 1.5rem;
    -ms-border-radius: 1.5rem;
    -o-border-radius: 1.5rem;
    h1 {
      font-family: "bebas-neue", sans-serif;
      text-transform: uppercase;
      font-size: 5rem;
      color: rgb(130, 0, 252);
      padding-top: 6rem;
      text-shadow: 2px 2px 3px rgba(184, 235, 255, 0.904);
      font-weight: 700;
    }
    h2 {
      font-family: "bebas-neue", sans-serif;
      text-transform: uppercase;
      font-size: 3.5rem;
      color: rgb(130, 0, 252);
      padding-top: 7rem;
      text-shadow: 2px 2px 3px rgba(184, 235, 255, 0.904);
      font-weight: 700;
    }
  }

  h3 {
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    margin: 3rem;
    background: -webkit-linear-gradient(#faf9f9, #262626);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  
  }

  h4 {
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 1rem;
    margin-top: 2rem;
  }

  .trailers {
    display: flex;
    width: 100%;

    button {
      width: 5rem;
      background-color: rgb(39, 39, 39);
      color: rgb(255, 255, 255);
      border: none;
      font-size: 3rem;
      border-radius: 0.5rem;
      -webkit-border-radius: 0.5rem;
      -moz-border-radius: 0.5rem;
      -ms-border-radius: 0.5rem;
      -o-border-radius: 0.5rem;
      &:hover {
        background-color: rgb(82, 0, 158);
        font-size: 4rem;
        transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
      }
    }
    iframe {
      width: 100%;
      height: 600px;
      margin: 0 0.3rem;
      border-radius: 0.5rem;
      -webkit-border-radius: 0.5rem;
      -moz-border-radius: 0.5rem;
      -ms-border-radius: 0.5rem;
      -o-border-radius: 0.5rem;
    }
  }

  .section3 {
    .categories {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 2rem;
      width: 100%;

      .categories_movies,
      .categories_tv,
      .categories_people {
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 20rem;
        margin: 0rem 0rem 2rem 0rem ;
        border-radius: 0.5rem;
        -webkit-border-radius: 0.5rem;
        -moz-border-radius: 0.5rem;
        -ms-border-radius: 0.5rem;
        -o-border-radius: 0.5rem;
        background-color: rgb(82, 0, 158);
        color: white;
        font-family: 'Montserrat', sans-serif;
        font-size: 1.7rem;
        font-weight: 500;
        text-align: center;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        img
{
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
