.header {
  background: rgba(59, 0, 195, 0.962);
  box-shadow: 0 0 10px rgba(255, 254, 254, 0.178);
  width: 100%;

  nav {
    margin: auto;
    width: 100%;
    height: 3.5rem;
    display: flex;
    align-items: center;

    .logo {
      width: 10rem;
      height: auto;
      margin-left: 2rem;
      border-radius: 0.3rem;
      &:hover {
        transform: scale(1.05);
      }
    }

    ul {
      display: flex;
      padding: 0 20px;
      font-size: 0.9rem;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 1px;
      width: 100%;
      li {
        margin: auto;
        a {
          color: white;
          text-decoration: none;
        }
        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }

  .header__burgerMenu {
    display: none; // Masqué par défaut sur les grands écrans

    svg {
      font-size: 2rem; // Taille de l'icône
      color: white; // Couleur de l'icône
    }
  }

  @media screen and (max-width: 768px) {
    .header__burgerMenu {
      display: flex; // Affiché sur les petits écrans
      margin-left: auto;
      margin-right: 2rem;
      cursor: pointer;
    }

    ul {
      position: fixed;
      left: -110%;
      top: 0;
      flex-direction: column;
      transition: 0.25s;
      background-color: rgb(114, 114, 114);
      z-index: 100;

      li {
        padding: 0.3rem 0;
        &:hover {
          background: #aaa9a9;
        }
      }
    }

    .active ul {
      left: 0;
    }
  }
}